# Node.js
node_modules/
npm-debug.log*
package-lock.json

# DBML / dbdocs
*.dbml.build.json
dbdocs-assets/

# Power BI
*.pbix
*.pbit
.pbi

# VSCode
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
logs/
*.bak
*.tmp

# Python (se tiver usado algum script)
_pycache_/
*.pyc
*.pyo
*.pyd
.env

# Backup de Excel ou temporários
~$*.xlsx
*.xlsb
*.xlsm
*.xlsx

# IDEs e editores
.idea/
*.sublime-workspace
*.sublime-project

# Git
*.orig
*.swp